@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    font-family: 'Poppins', sans-serif;

}

.heading{
    color : white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    padding: 100px;
    line-height: 1vh;
    font-size: 50px;
}

.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/clock-41413_1280.webp);
    background-size: cover;
    color: #fff;
}

.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .minutes,
.clock .seconds {
    position: absolute;
}

.clock .hour
{
  width: 160px;
  height: 160px;
 
}

.clock .minutes
 {
  width: 190px;
  height: 190px;
 
}

.clock .seconds
 {
  width: 230px;
  height: 230px; 

 }

 .hour,
.minutes,
.seconds {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;

}

.hour:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 80px;
    background: darkslategray;
    z-index: 10;
    border-radius: 6px 6px 0 0;
 
  }

.minutes:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: darkred;
    z-index: 11;
    border-radius: 6px 6px 0 0;
  } 

 .seconds:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 120px;
    background: darkblue;
    z-index: 12;
    border-radius: 6px 6px 0 0;
  } 

 
